.about-container {
    background: linear-gradient(73.51deg, $about-bg-gradient-color-mobile-1 26.15%, $about-bg-gradient-color-mobile-2 59.36%, $about-bg-gradient-color-mobile-3 81.04%, $about-bg-gradient-color-mobile-4 113.89%, $about-bg-gradient-color-mobile-5  152.7%),url('/src/assets/images/about-bg.png') no-repeat center;
    background-size: cover;
    mix-blend-mode: multiply;
}
.about {
    @include flexbox(column, center, flex-start, no-wrap);
    padding: 0 $primary-padding;
    min-height: 444px;
    color: $secondary-text-color;
    
    &__heading {
        @include set-line-height(0.4rem);
        max-width: $about-child-max-width-mobile;
    }
    &__description {
        @include set-line-height(0.5rem);
        font-size: 1.6rem;
        padding: 10px 0 30px;
        max-width: $about-child-max-width-mobile;
        letter-spacing: 0.5px;
        font-weight: 300;
        text-shadow: $description-text-shadow-color;
    }
    &__schedule--item {
        @include set-line-height(0.241rem);
        font-size: 1.4rem;
        letter-spacing: 1.47px;
        color: $secondary-text-color;

        &:hover { color: $color-primary; }
    }
}
/*Media Queries*/
@include breakpoint-tablet {
    .about-container { background: linear-gradient(63.66deg, $about-bg-gradient-color-mobile-1 16.93%, $about-bg-gradient-color-mobile-2 54.19%, $about-bg-gradient-color-mobile-3 86.52%, $about-bg-gradient-color-mobile-4 97.55%, $about-bg-gradient-color-mobile-5 133.2%), url('/src/assets/images/about-bg.png') no-repeat center; }
    .about {
        min-height: 600px;
        &__heading {
            font-size: 4.8rem;
            max-width: $about-child-max-width-tablet;
        }
        &__description {
            @include set-line-height(0.8rem);
            font-size: 1.7rem;
            max-width: $about-child-max-width-tablet;
            padding: 12px 0 35px;
        }
        &__schedule--item {
            @include set-line-height(0.275rem);
            font-size: 1.6rem;
            letter-spacing: 1.8px;
        }
    }
}
@include breakpoint-desktop {
    .about-container { background: linear-gradient(60.72deg, $about-bg-gradient-color-mobile-1 18.07%, $about-bg-gradient-color-mobile-2 43.89%, $about-bg-gradient-color-mobile-3 66.29%, $about-bg-gradient-color-mobile-4 74.94%, $about-bg-gradient-color-mobile-5 98.65%), url('/src/assets/images/about-bg.png') no-repeat center; }
    .about {
        &__heading {
            @include set-line-height(0.3rem);
            font-size: 5.2rem;
            max-width: $about-child-max-width-desktop - 17px;
        }
        &__description {
            @include set-line-height(0.6rem);
            font-size: 2rem;
            max-width: $about-child-max-width-desktop;
            padding: 15px 0 45px;
        }
        &__schedule--item {
            @include set-line-height(0.292rem);
            font-size: 1.7rem;
            letter-spacing: 1.57px;
        }
    }
}
@include breakpoint-large-desktop {
    .about-container { background: linear-gradient(60.09deg, $about-bg-gradient-color-mobile-1 28.79%, $about-bg-gradient-color-mobile-2 51.17%, $about-bg-gradient-color-mobile-3 69.2%, $about-bg-gradient-color-mobile-4 78.26%, $about-bg-gradient-color-mobile-5 98.64%), url('/src/assets/images/about-bg.png') no-repeat center; }
    .about {
        min-height: 700px;
        
        &__heading {
            @include set-line-height(0.4rem);
            font-size: 5.6rem;
            max-width: $about-child-max-width-large-desktop;
        }
        &__description {
            max-width: $about-child-max-width-large-desktop;
            padding: 15px 0 40px;
        }
    }
}
@include breakpoint-custom($large-desktop-max-width, min) {
    .about-container { background: radial-gradient(39.89% 31.89% at 50% 50%, $about-gradient-color-1 0%, $about-gradient-color-2 53.79%, $about-gradient-color-3 100%), url('/src/assets/images/about-bg.png') no-repeat center; }
} 
