.about-container {
    background: url('/src/assets/images/about-bg.png') no-repeat center;
    background-size: cover;
}
.about {
    @include flexbox(column, center, flex-start, no-wrap);
    padding: 0 $primary-padding;
    min-height: 444px;
    color: $secondary-text-color;
    
    &__heading {
        @include set-line-height(4px);
        max-width: $about-child-max-width-mobile;
    }
    &__description {
        @include set-line-height(5px);
        font-size: 1.6rem;
        padding: 10px 0 30px;
        max-width: $about-child-max-width-mobile;
        letter-spacing: 0.5px;
        font-weight: 300;
        text-shadow: $description-text-shadow-color;
    }
    &__schedule--item {
        @include set-line-height(2.41px);
        font-size: 1.4rem;
        letter-spacing: 1.47px;
        color: $secondary-text-color;
    }
}
/*Media Queries*/
@include breakpoint-tablet {
    .about {
        min-height: 600px;
        &__heading {
            font-size: 4.8rem;
            max-width: $about-child-max-width-tablet;
        }
        &__description {
            @include set-line-height(8px);
            font-size: 1.7rem;
            max-width: $about-child-max-width-tablet;
            padding: 12px 0 35px;
        }
        &__schedule--item {
            @include set-line-height(2.75px);
            font-size: 1.6rem;
            letter-spacing: 1.8px;
        }
    }
}
@include breakpoint-desktop {
    .about {
        &__heading {
            @include set-line-height(3px);
            font-size: 5.2rem;
            max-width: $about-child-max-width-desktop - 17px;
        }
        &__description {
            @include set-line-height(6px);
            font-size: 2rem;
            max-width: $about-child-max-width-desktop;
            padding: 15px 0 45px;
        }
        &__schedule--item {
            @include set-line-height(2.92px);
            font-size: 1.7rem;
            letter-spacing: 1.57px;
        }
    }
}
@include breakpoint-large-desktop {
    .about {
        min-height: 700px;
        
        &__heading {
            @include set-line-height(4px);
            font-size: 5.6rem;
            max-width: $about-child-max-width-large-desktop;
        }
        &__description {
            max-width: $about-child-max-width-large-desktop;
            padding: 15px 0 40px;
        }
    }
}
@include breakpoint-large-display {
    .about-container {
        background: radial-gradient(39.89% 31.89% at 50% 50%, $about-gradient-color-1 0%, $about-gradient-color-2 53.79%, $about-gradient-color-3 100%), url('/src/assets/images/about-bg.png') no-repeat center; 
    }
} 
