.company-advantage-container {
    background: linear-gradient(70.26deg, $secondary-bg-color-1 22.16%, $secondary-bg-color-2 140.31%, #40465C 140.37%);
    box-shadow: 0px 5px 16px $header-bg-color;
}
.company-advantage {
    padding: 45px $primary-padding;
    color: $secondary-text-color;
    
}
