.company-advantage-container {
    background: linear-gradient(70.26deg, $secondary-bg-color-1 22.16%, $secondary-bg-color-2 140.31%, #40465C 140.37%);
    box-shadow: 0 5px 16px $header-bg-color;

    @include breakpoint-tablet {
        background: linear-gradient(70.77deg, $secondary-bg-color-1 31.97%, $secondary-bg-color-3 101.93%);
    }
    @include breakpoint-desktop {
        background: linear-gradient(126.81deg, $secondary-bg-color-1 3.48%, $secondary-bg-color-3 116.85%);
    }
}
.company-advantage {
    @include flexbox(column);
    padding: 45px $primary-padding;
    color: $secondary-text-color;

    @include breakpoint-tablet {
        flex-direction: row;
        min-height: 721px;
        justify-content: space-between;
    }
    @include breakpoint-desktop {
        min-height: 691px;
    }
    @include breakpoint-large-desktop {
        min-height: 739px;
    }
    
    &__intro {
        @include breakpoint-tablet {
            max-width: 30%;
            padding-top: 50px;
        }
        @include breakpoint-desktop {
            padding-top: 60px;
        }
        @include breakpoint-large-desktop {
            padding-top: 70px;
        }

        &--heading {
            font-size: 2.3rem;

            @include breakpoint-tablet {
                @include set-line-height(0.2rem);
                font-size: 2.6rem;
            }
            @include breakpoint-desktop {
                font-size: 3rem;
            }
            @include breakpoint-large-desktop {
                @include set-line-height(0.2rem);
                font-size: 3.8rem;
            }
        }
        &--description {
            padding: 10px 0 25px;
            font-size: 1.6rem;
            font-weight: 300;

            @include breakpoint-tablet {
                padding: 15px 0 35px;
            }
            @include breakpoint-desktop {
                @include set-line-height(0.5rem);
                font-size: 1.8rem;
                padding: 15px 0 45px;
            }
            @include breakpoint-large-desktop {
                padding: 16px 0 42px; 
            }
        }
        &--learn-more {
            @include set-line-height(0.2rem);
            font-size: 1.4rem;
            letter-spacing: 1.29px;

            &:hover {
                color: $color-primary;
            }
            @include breakpoint-desktop {
                @include set-line-height(0.292rem);
                font-size: 1.7rem;
                letter-spacing: 1.57px;
            }
        }
    }
}
.advantage-container {
    @include flexbox(column, space-between);

    @include breakpoint-tablet {
        max-width: 65%;
        flex-direction: row;
        justify-content: space-between;
        padding: 50px 0 0;

        &__item { 
            max-width: 48%;
        }
    }
    @include breakpoint-desktop {
        padding: 60px 0 0;
    }
    @include breakpoint-large-desktop {
        padding: 70px 0 0
    }
}
.advantage {
    margin-top: 30px;

    @include breakpoint-tablet {
        margin: auto;
        min-height: 207px;
    }
    @include breakpoint-desktop {
        min-height: 183px;
    }
    @include breakpoint-large-desktop {
        min-height: 180px;
    }

    &__icon { 
        font-size: 3.5rem;
        color: $color-primary;
        

        @include breakpoint-large-desktop {
            font-size: 4rem;
        }
    }
    &__heading {
        font-size: 1.5rem;
        padding: 8px 0;

        @include breakpoint-tablet {
            font-size: 1.6rem;
            padding: 8px 0;
        }
        @include breakpoint-large-desktop {
            font-size: 2rem; 
        }
    }
    &__description {
        @include set-line-height(0.5rem);
        font-size: 1.3rem;
        font-weight: 300;

        @include breakpoint-tablet {
            font-size: 1.4rem; 
        }
        @include breakpoint-desktop {
            
        }
    }
    &-profit, &-investments, &-awareness, &-guidance {
        @include breakpoint-tablet {
            margin-top: 45px; 
        }
        @include breakpoint-desktop {
            margin-top: 25px;
        } 
    }
}
