.contact-us-container {
    background: url('/src/assets/images/contact-us-bg.jpg') no-repeat center ,linear-gradient(133.38deg, $secondary-bg-color-1 3.62%, $secondary-bg-color-4 57.61%, $secondary-bg-color-3 98.59%);
    mix-blend-mode: multiply;  //To create the mix of both backgrounds
    opacity: 0.79;
    background-size: cover;
}
.contact-us {
    @include flexbox(column, center); // Used flex to align vertically center
    color: $secondary-text-color;
    min-height: 252px;
    padding: 0 $primary-padding;

    @include breakpoint-tablet {
        min-height: 273px;
    }
    @include breakpoint-desktop {
        min-height: 322px;
    }
    @include breakpoint-large-desktop {
        min-height: 347px;
    }

    &__heading {
        font-size: 2.3rem;
        letter-spacing: -0.33px;
        
        &--item {
            display: block; 
        }
        @include breakpoint-tablet {
            @include set-line-height(0.2rem);
            font-size: 2.6rem;
            letter-spacing: -0.28px;
        }
        @include breakpoint-desktop {
            font-size: 3rem;
            letter-spacing: -0.3px;
        }
        @include breakpoint-large-desktop {
            @include set-line-height(0.2rem);
            font-size: 3.8rem;
        }
    }
    &__description {
        font-size: 1.6rem;
        padding: 10px 0 26px;
        font-weight: 300;

        @include breakpoint-tablet {
            padding: 15px 0 35px;
            max-width: 340px;
        }
        @include breakpoint-desktop {
            @include set-line-height(0.5rem);
            font-size: 1.8rem;
            letter-spacing: -0.24px;
            padding: 17px 0 45px;
            max-width: 350px;
        }
        @include breakpoint-large-desktop {
            max-width: 330px;
        }
    }
    &__schedule {
        @include set-line-height(0.2rem);
        font-size: 1.4rem;
        letter-spacing: 1.575px;

        //Hover Effect for Schedule Button
        &:hover { 
            color: $color-primary; 
        }
        @include breakpoint-tablet {
            @include set-line-height(0.3rem);
            font-size: 1.6rem;
            letter-spacing: 1.8px;
        }
        @include breakpoint-desktop {
            font-size: 1.7rem;
            letter-spacing: 1.57px;
        }
    }
}
