.contact-us-container {
    background: url('/src/assets/images/contact-us-bg.png') no-repeat center ,linear-gradient(133.38deg, $secondary-bg-color-1 3.62%, $secondary-bg-color-4 57.61%, $secondary-bg-color-3 98.59%);
    mix-blend-mode: multiply;  //To create the mix of both backgrounds
    opacity: 0.79;
    background-size: cover;
}
.contact-us {
    @include flexbox(column, center); // Used flex to align vertically center
    color: $secondary-text-color;
    min-height: 252px;
    padding: 0 $primary-padding;

    &__heading {
        @include set-line-height;
        font-size: 2.3rem;
        letter-spacing: -0.33px;
        
        &--item { display: block; }
    }
    &__description {
        @include set-line-height;
        font-size: 1.6rem;
        padding: 10px 0 26px;
        font-weight: 300;
    }
    &__schedule {
        @include set-line-height(2px);
        font-size: 1.4rem;
        letter-spacing: 1.575px;

        //Hover Effect for Schedule Button
        &:hover { color: $color-primary; }
    }
}
/*Media Queries for Tablet*/
@include breakpoint-tablet {
    .contact-us {
        min-height: 273px;

        &__heading {
            @include set-line-height(2px);
            font-size: 2.6rem;
            letter-spacing: -0.28px;
        }
        &__description { 
            padding: 15px 0 35px;
            max-width: 340px;
        }
        &__schedule {
            @include set-line-height(3px);
            font-size: 1.6rem;
            letter-spacing: 1.8px;
        }
    }
}
/*Media Queries for Desktop*/
@include breakpoint-desktop {
    .contact-us {
        min-height: 350px;

        &__heading {
            @include set-line-height;
            font-size: 3rem;
            letter-spacing: -0.3px;
        }
        &__description {
            @include set-line-height(5px);
            font-size: 1.8rem;
            letter-spacing: -0.24px;
            padding: 17px 0 45px;
            max-width: 350px;
        }
        &__schedule {
            font-size: 1.7rem;
            letter-spacing: 1.57px;
        }
    }
}
/*Media Queries for Large Desktop*/
@include breakpoint-large-desktop {
    .contact-us {
        min-height: 347px;

        &__heading {
            @include set-line-height(2px);
            font-size: 3.8rem;
        }
        &__description {
            max-width: 330px;
        }
    }
}
