.top-navbar {
    @include flexbox(row, space-between);
}
.logo-container {
    @include flexbox(row, space-between, center);
    flex: 100%;
    padding: 0 $primary-padding;
    min-height: 61px;
}
.top-nav-list {
    background-color: $menu-bg-color;
    width: 100%;
    height: 89vh;
    display: none;
}
.top-nav-list__item {
    width: 100%;
    padding: 20px 0 17px $primary-padding;
    border-bottom: 0.7px solid $border-color;
}
.logo-toggle__img {
    display: none;
}
.active {
    display: block;
}
.top-nav-list__item--content {
    @include set-line-height(2.75px);
    font-size: 1.6rem;
}
