.services {
    @include flexbox(column);
    padding: 45px $primary-padding 0;
}
.what-we-do__company-name {
    @include set-line-height(3px);
    font-size: 1.6rem;
    letter-spacing: 1.52px;
}
.what-we-do__heading {
    @include set-line-height;
    font-size: 2.3rem;
}
.what-we-do__description {
    @include set-line-height;
    font-size: 1.6rem;
}
