.services-container {
    background: linear-gradient(126.81deg, $primary-gradient-bg-color 3.48%, $color-primary 116.85%);
    min-height: 1410px;
    position: relative;
    z-index: 0; //TO show the bottom background image on top of it

    /*Media Queries for Tablet*/
    @include breakpoint-tablet {
        padding-top: 50px;
        min-height: 1000px;
    }
    /*Media Queries for Desktop*/
    @include breakpoint-desktop {
        padding-top: 60px;
        min-height: 1127px;
    }
    /*Media Queries for Large Desktop*/
    @include breakpoint-large-desktop {
        padding-top: 70px;
        min-height: 1161px;
    }
}
.services-other-bg-container {
    /*For background at the bottom of the container*/
    background: url('/src/assets/images/services-bg.jpg') no-repeat center;
    background-size: cover;
    min-height: 396px;
    width: 100%;
    position: absolute;
    z-index: -1;
    bottom: 0;
}
.services {
    @include flexbox(column);
    padding: 45px $primary-padding 0;

    @include breakpoint-custom($mobile-min-width) {
        min-height: 340px; 
    }
    @include breakpoint-tablet {
        flex-direction: row;
        justify-content: space-between;
    }
}
.what-we-do {
    padding-bottom: 30px;

    @include breakpoint-tablet {
        flex: 49%;
        min-height: 300px;
        margin-bottom: 12px;
        padding: 24px 24px 30px;
    }
    @include breakpoint-desktop {
        min-height: 363px;
        margin-bottom: 15px;
        padding: 36px 32px 60px;
    }
    @include breakpoint-large-desktop {
        min-height: 350px;
        margin-bottom: 20px;
        padding: 54px 41px 41px;
    }

    &__company-name{
        @include set-line-height(0.3rem);
        font-size: 1.6rem;
        letter-spacing: 1.52px;

        @include breakpoint-tablet {
            @include set-line-height(0.309rem);
            letter-spacing: 1.71px;
            font-size: 1.8rem;
        }
        @include breakpoint-desktop {
            @include set-line-height(0.344rem);
            letter-spacing: 1.9px;
            font-size: 2.0rem;
        }
        @include breakpoint-large-desktop {
            @include set-line-height(0.413rem);
            letter-spacing: 1.98px;
            font-size: 2.4rem;
        }
    }
    &__heading {
        font-size: 2.3rem;
        padding: 6px 0 10px;
        max-width: 271px;

        @include breakpoint-tablet {
            @include set-line-height(0.2rem);
            font-size: 2.6rem;
            max-width: 259px;
        }
        @include breakpoint-desktop {
            @include set-line-height(0.4rem);
            font-size: 3.0rem;
            max-width: 259px;
        }
        @include breakpoint-large-desktop {
            @include set-line-height(0.2rem);
            font-size: 3.8rem;
            max-width: 315px;
        }
    }
    &__description {
        font-size: 1.6rem;
        font-weight: 300;

        @include breakpoint-desktop {
            @include set-line-height(0.6rem);
            font-size: 1.7rem;
        }
    }
    &__img {
        display: none;

        @include breakpoint-large-desktop {
            display: block;
            padding: 5px 12px 0 0;
        }
    }
}
.description-container {
    @include breakpoint-large-desktop {
        display: flex;
    }
}
.service {
    @include flexbox(column, space-between);
    background: $secondary-text-color;
    padding: 15px 15px 30px;
    margin-bottom: 15px;
    color: $primary-text-color;
    min-height: 283px;

    @include breakpoint-tablet {
        flex: 49%;
        min-height: 300px;
        margin-bottom: 12px;
        padding: 24px 24px 30px;
    }
    @include breakpoint-desktop {
        min-height: 363px;
        margin-bottom: 15px;
        padding: 36px 32px 60px;
    }
    @include breakpoint-large-desktop {
        min-height: 350px;
        margin-bottom: 20px;
        padding: 54px 41px 41px;
    }

    &__icon { 
        font-size: 3.8rem; 
        color: $color-primary;

        @include breakpoint-desktop {
            font-size: 4.5rem;
        }
        @include breakpoint-large-desktop {
            font-size: 4.5rem;
        }
    }
    &__heading {
        padding: 8px 0;
        font-size: 1.5rem;
        max-width: 148px;

        @include breakpoint-tablet {
            @include set-line-height(0.2rem);
            font-size: 1.6rem;
            max-width: 164px;
        }
        @include breakpoint-desktop {
            font-size: 1.6rem;
            max-width: 164px;
        }
        @include breakpoint-large-desktop {
            font-size: 2.0rem;
            max-width: 200px;
        }
    }
    &__description {
        @include set-line-height(0.5rem);
        font-size: 1.3rem;
        font-weight: 300;

        @include breakpoint-tablet {
            font-size: 1.4rem; 
        }
        @include breakpoint-desktop {
            font-size: 1.4rem; 
        }
    }
    &__learn-more {
        @include set-line-height(0.2rem);
        font-size: 1.5rem;
        letter-spacing: 1.2px;
        color: $color-primary;

        &:hover { 
            color: $primary-gradient-bg-color; 
        }
        @include breakpoint-tablet {
            @include set-line-height(2.41px);
            font-size: 1.4rem;
            letter-spacing: 1.29px;
        }
    }
    &-assets, &-analytics {
        @include breakpoint-tablet {
            margin-left: 12px; 
        }
        @include breakpoint-desktop {
            margin-left: 15px; 
        }
        @include breakpoint-large-desktop {
            margin-left: 20px;
        }
    }
}
