@font-face {
    font-family: 'icomoon';
    src:  url('/src/assets/icons/icomoon.eot?f25fxq');
    src:  url('/src/assets/icons/icomoon.eot?f25fxq#iefix') format('embedded-opentype'),
      url('/src/assets/icons/icomoon.ttf?f25fxq') format('truetype'),
      url('/src/assets/icons/icomoon.woff?f25fxq') format('woff'),
      url('/src/assets/icons/icomoon.svg?f25fxq#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "icomoon" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-angle-right:before {
    content: "\e90f";
}
.icon-diamond:before {
    content: "\e903";
}
.icon-eye:before {
    content: "\e904";
}
.icon-facebook:before {
    content: "\e905";
}
.icon-flow-chart:before {
    content: "\e906";
}
.icon-growth:before {
    content: "\e907";
}
.icon-linear-growth:before {
    content: "\e908";
}
.icon-linkedin:before {
    content: "\e900";
}
.icon-money-growth:before {
    content: "\e909";
}
.icon-square:before {
    content: "\e90a";
}
.icon-tower:before {
    content: "\e90b";
}
.icon-twitter:before {
    content: "\e90c";
}
.icon-Vimeo:before {
    content: "\e90d";
}
.icon-window-reload:before {
    content: "\e90e";
}
.icon-close:before {
    content: "\e901";
}
.icon-menu:before {
    content: "\e902";
}
