$font-size: 62.5%;
$container-width-tablet: 708px;
$container-width-desktop: 960px;
$container-width-large-desktop: 1205px;
$topbar-tablet-desktop-min-height: 80px;

/*Breakpoints for various devices*/
$tablet-min-width: 768px;
$tablet-max-width: 1024px;
$desktop-min-width: 1025px;
$desktop-max-width: 1439px;
$large-desktop-max-width: 1439px;
$large-desktop-max-width: 1439px;

/*Paddings*/
$primary-padding: 20px;
$primary-padding-tablet: $primary-padding + 10px;

/*Colors*/
$color-primary: #EF7622;  //primary-color
$primary-gradient-bg-color: #F8AE47;
$secondary-bg-color-1: #030F21;
$secondary-bg-color-2: #3E445A;
$secondary-bg-color-3: #40465C;

/*text colors*/
$primary-text-color: #1D1D1D;
$secondary-text-color: #ffffff;
$border-color: #bcbcbc;

/*Header Colors*/
$header-bg-color: rgba(0, 0, 0, 0.13);
$menu-bg-color: #f8f8f8;
$nav-items-text-color: #65666B;
