$font-size: 62.5%;
$container-width-tablet: 708px;
$container-width-desktop: 960px;
$container-width-large-desktop: 1205px;
$topbar-tablet-desktop-min-height: 80px;

/*Breakpoints for various devices*/
$tablet-min-width: 768px;
$tablet-max-width: 1024px;
$desktop-min-width: 1025px;
$desktop-max-width: 1439px;
$large-desktop-min-width: 1439px;
$large-desktop-max-width: 1800px;
$large-display-min-width: 2500px;


/*Paddings*/
$primary-padding: 20px;
$primary-padding-tablet: $primary-padding + 10px;

/*Colors*/
$color-primary: #EF7622;  //primary-color
$primary-gradient-bg-color: #F8AE47;
$secondary-bg-color-1: #030F21;
$secondary-bg-color-2: #3E445A;
$secondary-bg-color-3: #40465C;

/*text colors*/
$primary-text-color: #1D1D1D;
$secondary-text-color: #ffffff;
$border-color: #bcbcbc;

/*Header Colors*/
$header-bg-color: rgba(0, 0, 0, 0.13);
$menu-bg-color: #f8f8f8;
$menu-hover-color: #e1e1e1;
$nav-items-text-color: #65666B;

/*Main Container*/
$about-child-max-width-mobile: 240px;
$about-child-max-width-tablet: 348px;
$about-child-max-width-desktop: 464px;
$about-child-max-width-large-desktop: 593px;
$description-text-shadow-color: rgba(0, 0, 0, 0.25);
$about-gradient-color-1: rgba(5, 5, 5, 0.0001);
$about-gradient-color-2: rgba(7, 7, 7, 0.108473);
$about-gradient-color-3: #030F21;
