/*Media Queries for Tablets*/
@include breakpoint-tablet {
    .center-container {
        @include center-container($container-width-tablet);
        padding: 0;
    }
}
/*Media Queries for Small Desktop*/
@include breakpoint-desktop {
    .center-container { @include center-container($container-width-desktop); } 
}
/*Media Queries for Large Desktop*/
@include breakpoint-large-desktop {
    .center-container { @include center-container($container-width-large-desktop); }
}
.overflow-hidden { overflow: hidden; } 
